NODE_ENV=development
PORT=5050
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE

JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_ACCESS_EXPIRE=15m
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_REFRESH_EXPIRE=7d

BCRYPT_SALT_ROUNDS=12

STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_PUBLISHABLE_KEY=pk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx

FRONTEND_URL=http://localhost:3000

ADMIN_NAME=Jacob Vlance
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=master123

RESEND_API_KEY=key_xxx
RESEND_EMAIL=no-reply@example.com

SHIPSTATION_API_KEY=your_shipstation_api_key
SHIPSTATION_API_SECRET=your_shipstation_api_secret
